<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="myproect.TEST1"/>
      <class name="advencedTSTNG.DATAprovider"/>
      <class name="myproect.AnnotationTest"/>
      <class name="com.sdet.AppTest"/>
      <class name="myproect.annot"/>
      <class name="advencedTSTNG.ASSERT"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
